/* 字体 */
$ff0: 'simsun',arial;
$ff1: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",\5FAE\8F6F\96C5\9ED1,tahoma,simsun,sans-serif;
/* 文字大小 */
$fs10: 10px; /* 10px */
$fs11: 11px; /* 11px */
$fs12: 12px; /* 12px */
$fs13: 13px; /* 13px */
$fs14: 14px; /* 14px */
$fs15: 15px; /* 15px */
$fs16: 16px; /* 16px */
$fs1: 17px; /* 17px */
$fs18: 18px; /* 18px */
/* 文字色 */
$fc0: #333;/* 主色1 */
$fc1: #999;/* 主色2 灰色*/
$fc2: #d22147;/* 主色3 红色*/
$fc3: #666;/* 主色4 灰色*/

/* 考拉红 */
$klred: #ff0000;

/* 边框色 */
$bd0: #ddd;
/* 背景色 */
$bg0: #fff;
$bg1: #f2f9ff;
$bg2: #c5e0f4;
$bg3: #8db6d4;